.main{
    width: 100%;

}

.teamSitesHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;


}
.contentHolder{
    min-height: 2100px;
    margin-top: 10px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;


}
.left{
    width: 23%;
    height: 1780px;
    position: relative;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: white;
    margin-top: 40px;


}
#widgetLeft{
    overflow: auto;
    height: 2120px;

}
.right{
    width: 78%;
    height: 2000px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #51e2f5;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-top: 20px;
}
.sub{
    height: 200px;
}