.controlerHold{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;

}
.keyBoard{
    width: 100%;
    /*border: 1px solid;*/
    height: 80px;
    position: relative;
    /*margin-right: 15px;*/
    right: 1%;
    background-color: #32103b;
    display: flex;
    align-items: center;
    justify-content: end;
}
.lionHold{
    width: 12%;
    /*border: 1px solid;*/
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 1%;
}
.lionLogo{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}